<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>ROYAL CARS - Car Rental HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap"
          rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"
          th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}">
    <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
          th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<!-- Navbar -->
<div th:replace="~{fragments/navbar.html :: navbar}">Navigation bar fragment</div>


<div class="container-fluid page-not-found">
    <h1 th:if="${httpCode!=null && !httpCode.isBlank()}" class="display-3 text-uppercase text-white mb-3"
        th:text="${httpCode}">404 Not Found</h1>
    <h1 th:if="${httpCode==null || httpCode.isBlank()}" class="display-3 text-uppercase text-white mb-3">
        Oops! Something went wrong!</h1>
    <div th:if="${httpCode!=null && !httpCode.isBlank()}" class="d-inline-flex text-white">
        <h6 class="text-uppercase text-white m-0" th:text="${errorMessage}">Error description</h6>
    </div>
    <div th:if="${httpCode==null || httpCode.isBlank()}" class="d-inline-flex text-white">
        <h6 class="text-uppercase text-white m-0">
            Want to go to the
            <a th:href="@{/}">home page</a>
            ?
        </h6>
    </div>
</div>


<!-- Footer -->
<div th:replace="~{fragments/footer.html :: footer}">Footer fragment</div>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="../static/lib/easing/easing.min.js" th:src="@{/lib/easing/easing.min.js}"></script>
<script src="../static/lib/waypoints/waypoints.min.js" th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script src="../static/lib/owlcarousel/owl.carousel.min.js" th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script src="../static/lib/tempusdominus/js/moment.min.js" th:src="@{/lib/tempusdominus/js/moment.min.js}"></script>
<script src="../static/lib/tempusdominus/js/moment-timezone.min.js"
        th:src="@{/lib/tempusdominus/js/moment-timezone.min.js}"></script>
<script src="../static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"
        th:src="@{/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

<!-- Template Javascript -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>
</html>