<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="utf-8">
    <title>ROYAL CARS - Car Rental HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap"
          rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"
          th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}">
    <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
          th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<!-- Navbar -->
<div th:replace="~{fragments/navbar.html :: navbar}">Navigation bar fragment</div>

<!-- Page Header Start -->
<div class="container-fluid page-header">
    <h1 class="display-3 text-uppercase text-white mb-2">
        <a th:if="${currentUser.getId() == user.getId()}" th:text="'My Profile'">My Profile</a>
        <a th:unless="${currentUser.getId() == user.getId()}" sec:authorize="hasAnyRole('ROLE_EMPLOYEE','ROLE_ADMIN')"
           th:text="|*{user.username}'s Profile|">User's Profile</a>
    </h1>
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a class="text-white" href="">Home</a></h6>
        <h6 class="text-body m-0 px-3">/</h6>
        <h6 class="text-uppercase text-body m-0" th:text="|*{user.username}'s Profile|">My Profile</h6>
    </div>
</div>

<!-- Details Start -->
<div class="container-fluid py-3">
    <div class="container py-3">
        <h2 class="mb-5 text-center">Details</h2>
        <div class="row mb-4 justify-content-center">
            <label class="col-xl-2 col-lg-3 col-form-label text-uppercase text-dark font-weight-bold">Email:</label>
            <div class="col-lg-6">
                <span type="text" class="form-control" th:text="${user.getEmail()}"></span>
            </div>
        </div>
        <div class="row mb-4 justify-content-center">
            <label class="col-xl-2 col-lg-3 col-form-label text-uppercase text-dark font-weight-bold">Username:</label>
            <div class="col-lg-6">
                <span type="text" class="form-control" th:text="${user.getUsername()}"></span>
            </div>
        </div>
        <div class="row mb-4 justify-content-center">
            <label class="col-xl-2 col-lg-3 col-form-label text-uppercase text-dark font-weight-bold">
                First Name:</label>
            <div class="col-lg-6">
                <span type="text" class="form-control" th:text="${user.getFirstName()}"></span>
            </div>
        </div>
        <div class="row mb-4 justify-content-center">
            <label class="col-xl-2 col-lg-3 col-form-label text-uppercase text-dark font-weight-bold">Last Name:</label>
            <div class="col-lg-6">
                <span type="text" class="form-control" th:text="${user.getLastName()}"></span>
            </div>
        </div>
        <div class="row mb-5 justify-content-center">
            <label class="col-xl-2 col-lg-3 col-form-label text-uppercase text-dark font-weight-bold">Phone
                Number:</label>
            <div class="col-lg-6">
                <span type="text" class="form-control" th:text="${user.getPhoneNumber()}"></span>
            </div>
        </div>
        <div class="row justify-content-center"
             style="margin-bottom: 20px;">
            <a th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'', ''ROLE_EMPLOYEE'')')
            || currentUser.getId() == user?.getId()}"
               id="userUpdate" sec:authorize="!isAnonymous()" class="col-lg-3" href="userUpdate.html"
               th:href="@{~/users/{id}/update(id=${user?.getId()})}"
               th:id="updateUserButton" type="submit">
                <button class="btn btn-primary btn-block" style="height: 50px;">Edit Profile</button>
            </a>
            <a id="changePassword" th:if="${currentUser.getId() == user?.getId()}" class="col-lg-3"
               href="changePassword.html"
               th:href="@{~/users/{id}/changePassword(id=${user?.getId()})}"
               th:id="changePassButton" type="submit">
                <button class="btn btn-primary btn-block" style="height: 50px;">Change Password</button>
            </a>
        </div>
        <div class="row justify-content-center" sec:authorize="hasRole('ROLE_ADMIN')"
             th:if="${currentUser.getId() != user.getId()}">
            <a class="col-lg-3">
                <form th:action="@{~/users/{id}/delete(id=${user.getId()})}" method="post">
                    <button class="btn btn-primary btn-block" style="height: 50px;">Delete</button>
                </form>
            </a>
            <a th:if="${!isAdmin}" class="col-lg-3">
                <form th:action="@{~/users/{id}/admin(id=${user.getId()})}" method="post">
                    <button class="btn btn-primary btn-block" style="height: 50px;">Make Admin</button>
                </form>
            </a>
            <a th:if="${isAdmin}" class="col-lg-3">
                <form th:action="@{~/users/{id}/notAdmin(id=${user.getId()})}" method="post">
                    <button class="btn btn-primary btn-block" style="height: 50px;">Remove Admin</button>
                </form>
            </a>
            <a th:if="${!isEmployee}" class="col-lg-3">
                <form th:action="@{~/users/{id}/employee(id=${user.getId()})}" method="post">
                    <button class="btn btn-primary btn-block" style="height: 50px;">Make Employee</button>
                </form>
            </a>
            <a th:if="${isEmployee}" class="col-lg-3">
                <form th:action="@{~/users/{id}/notEmployee(id=${user.getId()})}" method="post">
                    <button class="btn btn-primary btn-block" style="height: 50px;">Remove Employee</button>
                </form>
            </a>
        </div>
    </div>
</div>
<!-- Details End -->
<!-- About Start -->
<div class="container-fluid py-3 ">
    <div class="container pt-5 pb-3">
        <div class="row justify-content-center">
            <div class="col-lg-4 mb-2 ">
                <a sec:authorize="hasAnyRole('ROLE_EMPLOYEE','ROLE_ADMIN')"
                   th:href="@{/vehicles(owner=__${user.getId()}__,model='',brand='',prodYearFrom='',prodYearTo='',sort='')}"
                   href="">
                    <div class="d-flex align-items-center bg-light p-4 mb-4 btn btn-primary" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4"
                             style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-car text-secondary" style="font-size: 2em;"></i>
                        </div>
                        <h4 class="text-uppercase m-0" th:text="|*{user.getVehicles().size()} Cars|">Cars</h4>
                    </div>
                </a>
                <a sec:authorize="hasRole('ROLE_CUSTOMER') && !hasAnyRole('ROLE_EMPLOYEE','ROLE_ADMIN')"
                   th:if="${currentUser.getId() == user.getId()}"
                   th:href="@{/vehicles}"
                   href="">
                    <div class="d-flex align-items-center bg-light p-4 mb-4 btn btn-primary" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4"
                             style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-car text-secondary" style="font-size: 2em;"></i>
                        </div>
                        <h4 class="text-uppercase m-0" th:text="|*{user.getVehicles().size()} Cars|">Cars</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 mb-2">
                <a sec:authorize="hasAnyRole('ROLE_EMPLOYEE','ROLE_ADMIN')" th:href="@{/visits(visitor=__${user.getId()}__,
                vehicle='',dateFrom='',dateTo='',sort='')}" href="">
                    <div class="d-flex align-items-center bg-light p-4 mb-4 btn btn-primary" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4"
                             style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-warehouse text-secondary"></i>
                        </div>
                        <h4 class="text-uppercase m-0 nav-item nav-link" th:text="|*{user.getVisits().size()} Visits|">
                            Visits</h4>
                    </div>
                </a>

                <a sec:authorize="hasRole('ROLE_CUSTOMER') && !hasAnyRole('ROLE_EMPLOYEE','ROLE_ADMIN')"
                   th:if="${currentUser.getId() == user.getId()}" th:href="@{/visits}" href="">
                    <div class="d-flex align-items-center bg-light p-4 mb-4 btn btn-primary" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4"
                             style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-warehouse text-secondary"></i>
                        </div>
                        <h4 class="text-uppercase m-0 nav-item nav-link" th:text="|*{user.getVisits().size()} Visits|">
                            Visits</h4>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
<!-- About End -->


<!-- Footer -->
<div th:replace="~{fragments/footer.html :: footer}">Footer fragment</div>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="../static/lib/easing/easing.min.js" th:src="@{/lib/easing/easing.min.js}"></script>
<script src="../static/lib/waypoints/waypoints.min.js" th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script src="../static/lib/owlcarousel/owl.carousel.min.js" th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script src="../static/lib/tempusdominus/js/moment.min.js" th:src="@{/lib/tempusdominus/js/moment.min.js}"></script>
<script src="../static/lib/tempusdominus/js/moment-timezone.min.js"
        th:src="@{/lib/tempusdominus/js/moment-timezone.min.js}"></script>
<script src="../static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"
        th:src="@{/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

<!-- Template Javascript -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>